#client{
    background-image: url(../images/testimonials_background.jpg);
    height: 450px;
    #ourbook{
        text-align: center;
        h1{
            font-family: 'Courgette', cursive;
            color: black;
             .rouge{
             color: red;
             font-size: 125%;
             }
        }
    }
    #img-et-text{
        display: flex;
        justify-content: space-evenly;
        .testimonial-img{
            border-radius: 50%;
            border: 5px solid grey;
            height: 150px;
            width: 150px;
        }
    }
    .text-testi{
        border: grey solid 1px;
        border-radius: 1em/1em;
        text-align: left;
        width: 30%;
        color:white;
        padding: 1%;
        h5{
            color: red;
        }
    }
}



/*responsive pour 320px à 640px*/
@media (min-width:320px) and (max-width:640px){

}

/*responsive pour 641px à 900px*/
@media (min-width:641px) and (max-width:900px){

}