#client{
    background-image: url(../img/testimonials_background.jpg);

    height: 400px;
    #ourbook{
        h1{
            margin: 0;
            font-family: 'Courgette', cursive;

             .rouge{
             color: red;
             font-size: 125%;

             }
        }
    }
}