#contact{

    text-align: center;
    h1{
        font-family: 'Courgette', cursive;
        .rouge{
            color: red;
            font-size: 125%;
        }
    }
   #carré-dom{
       display: flex;
       justify-content: center;

    #carré{
        padding: 2%;
        border-radius: 1em/1em;
        background-color: red;
        max-width: fit-content;

        div{
            p{
                color: white;
                border-bottom: white solid 1px;
            }
            i{
                color: white;
                font-size: 3em;
            }
        }
    }
   }
}



/*responsive pour 320px à 640px*/
@media (min-width:320px) and (max-width:640px){

}

/*responsive pour 641px à 900px*/
@media (min-width:641px) and (max-width:900px){

}