footer{
    background-color: red;
    height: 300px;

    #bg-dark{
        height: 80%;
        background-image: url(../images/footer_background.jpg);
        background-position: center;
        display: flex;
        justify-content: space-evenly;

        #aboutus{
            width: 20%;
           h1{
               color:white;
           }
           p{
                text-align: left;
                max-width: fit-content;
                color:white;
           }
           #icone-footer{
               display: flex;
               justify-content: space-evenly;
               color:white;
               font-size: 150%;


           }
        }
        #insta{
            width: 22%;
            .instapic{
                display: flex;
                justify-content: space-between;
            }
            h1{
                color: white;
            }
            

        }

        #popular{
            h1{
                color: white;
            }
            .button{
                button{
                    background-color: red;
                    border: 1px white solid;
                    border-radius: 10em/10em;
                }
            }
        }
    }
}



/*responsive pour 320px à 640px*/
@media (min-width:320px) and (max-width:640px){

}

/*responsive pour 641px à 900px*/
@media (min-width:641px) and (max-width:900px){

}