body{
    background-image: url(../images/main_bg.jpg);



    header{
        /* navbar */
        #new{
            display: flex;
            justify-content: center;
    
            #new2{
                position: fixed;
                z-index: 1;
    
                #pack1{
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
    
                    a{
                        color: white;
                    }
                    a:hover {
                        background-color: red;
                      }
                }
                #pack2{
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
    
                    a{
                        color: white;
                    }
                    a:hover {
                        background-color: red;
                      }
                }
            }
        }
        /* navbar */
    
        /* carousel */
        #carouselExampleCaptions{
            position:relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            ol{
                li{
                    height: 10px;
                    width: 10px;
                }
            }
            #p{
                position: absolute;
                z-index: 1;
                h1{
                    font-family: 'Courgette', cursive;
                    color: white;
                    .rouge{
                        color: red;
                        font-size: 125%;
                    }
                    .blanc{
                        font-size: 125%;
                    }
                }
                #space-button{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    button{
                        font-size: 20px;
                        border-radius: 10em /10em;
                        padding: 2%;
                        border:none;
                        width: 30%
                    }
                    .button-red:hover {
                            background-color: red;
                          }
                }
            }
            .carousel-inner{
                filter: brightness(30%);
            }
            }
        /* carousel */  
    }
    
        /* media query */
    @media (min-width:320px) and (max-width:640px){
        header{
            #new{
                #new2{
                    flex-direction: column;
                    #pack1{
                        
                        a{
                            font-size: 70%;
                        }
                    }
                    #pack2{
                        border-top: none;
                        a{
                            font-size: 70%;
                        }
                    }
                    img{
                        display: none;
                    }
                }
            }    
            #carouselExampleCaptions{
                #p{
                    margin-top: 10%;
                    h1{
                        font-size: 80%;
                    }
                    #space-button{
                       display: none;
                    }
                }
            }
        }
        #image-en-dent{
            #dentier{
                display: none;
            }
        }
        }
    /*responsive pour 641px à 954px*/
    @media (min-width:641px) and (max-width:954px){

        header{
            #new{
                #new2{
                    flex-direction: column;
                    #pack1{

                        a{
                            font-size: 120%;
                        }
                    }
                    #pack2{
                        border-top: none;

                        a{
                            font-size: 120%;
                        }
                    }
                    img{
                        display: none;
                    }
                }
            }    
            #carouselExampleCaptions{

                #p{
                    margin-top: 5%;
                    h1{
                        font-size: 150%;
                    }
                    #space-button{
                       font-size: 10%;
                       width: 170%;
                       margin-left: -33%;
                    }
                }
            }
        }
        #image-en-dent{
            #dentier{
                display: none;
            }
        }
    }
}





