#section-1{
    #page1{
        position: relative;
        background-color: white;
        width: 100%; 
        height: 1150px;
        padding-left: 0;
        padding-right: 0;

        #topleft{
            position: absolute;
            top: 0;
            left: 0;
        }
        #topright{
            position: absolute;
            top: 0;
            right: 0;
        }
        #botleft{
            position: absolute;
            bottom: 0;
            left: 0;
        }
        #botright{
            position: absolute;
            bottom: 0;
            right: 0;
        }


        #ourstory{
            position: absolute;
            width: 40%;
            margin-left: 30%;

           h1{
               margin: 0;
            font-family: 'Courgette', cursive;
                .rouge{
                color: red;
                font-size: 125%;
                }
           }
           p{
               max-width: fit-content;
           }   
        }

        #ourmenu{
            position: absolute;
            margin-left: 36%;
            margin-top: 25%;

            h1{
                margin: 0;
             font-family: 'Courgette', cursive;
                 .rouge{
                 color: red;
                 font-size: 125%;
                 }
            }
        }


   
        .menu{

            #list-example{
                position: absolute;
                margin-top: 35%;
            }
            
            .list-grp{
                 width: 25%;
                a>i{
                    font-size: 325%;
                    color:#CECFD1;   
                }
                a{
                    font-family: 'Courgette', cursive;
                    span{
                        font-size: 175%;
                    }   
                }
            } 

            .list-grp>a>i:hover{
                    color: red;
                    }
            .list-grp>a:hover{
                border-right: 5px solid red;
            }

            .liste-1,.liste-2{

                margin-top: 35% ;
                width: 40%;
                margin-left: 30%;
                .div1,.div2,.div3,.div4,.div5{
                    border-bottom: dotted 2px #CECFD1;
                     padding: 1%;
                    img{
                        height: 100px;
                        border-radius: 50%;
                        border: 4px solid #CECFD1;
                    }
                    p:nth-child(3){
                        background-color: #CECFD1;
                        height: 25px;
                        width: 13%;
                        color: red;
                        text-align: center;
                        width: 20%;
                        font-weight: bold;
                    }
                }

            }
        }
        
    }

}





    
    
    
    
 