#page-rouge{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    background-color: white;


        #topleft{
            position: absolute;
            top: 0;
            left: 0;
        }
        #topright{
            position: absolute;
            top: 0;
            right: 0;
        }
        #botleft{
            position: absolute;
            bottom: 0;
            left: 0;
        }
        #botright{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        #ourstory{
            text-align: center;
            h1{
                font-family: 'Courgette', cursive;
                    .rouge{
                    color: red;
                    font-size: 125%;
                    }
               }
               p{  
                   margin-left: auto;
                   margin-right: auto;
                   text-align: center;
                   width:33em;  
               }    
        }
        #ourmenu{
            text-align: center;
            h1{
             font-family: 'Courgette', cursive;
                 .rouge{
                 color: red;
                 font-size: 125%;
                 }
            }
        }





        
    #cafe{
        #click{
            #v-pills-tab{
                a{
                    border-bottom: 1px solid #CECFD1;
                }
            }

        }

        #cafe-baba{
            #v-pills-tabContent{
                #v-pills-home{
                    .rowland{
                        .colle{
                            
                            .div1{
                                border-bottom: 1px #CECFD1 dotted;
                               
                                
                                img{
                                    border-radius: 50%;
                                    border: solid 4px lightblue;
                                }
                                .dollar{
                                    width: 15%;
                                    background-color: #CECFD1;
                                    text-align: center;
                                    color: red;
                                }

                            }
                        }
                    }
                }




                #v-pills-profile{
                    .rowland{
                        .colle{
                            
                            .div1{
                                border-bottom: 1px #CECFD1 dotted;
                                
                                img{
                                    border-radius: 50%;
                                    border: solid 4px lightblue;
                                }
                                .dollar{
                                    width: 15%;
                                    background-color: #CECFD1;
                                    text-align: center;
                                    color: red;
                                }

                            }
                        }
                    }
                }




                #v-pills-messages{
                    .rowland{
                        .colle{
                            
                            .div1{
                                border-bottom: 1px #CECFD1 dotted;
                                
                                img{
                                    border-radius: 50%;
                                    border: solid 4px lightblue;
                                }
                                .dollar{
                                    width: 15%;
                                    background-color: #CECFD1;
                                    text-align: center;
                                    color: red;
                                }

                            }
                        }
                    }
                }




                #v-pills-settings{
                    .rowland{
                        .colle{
                            
                            .div1{
                                border-bottom: 1px #CECFD1 dotted;
                                
                                img{
                                    border-radius: 50%;
                                    border: solid 4px lightblue;
                                }
                                .dollar{
                                    width: 15%;
                                    background-color: #CECFD1;
                                    text-align: center;
                                    color: red;
                                }

                            }
                        }
                    }
                }

            }
        }   
    }
    #imageu{
        text-align: center;
    }
}



@media (min-width:320px) and (max-width:640px){
    #page-rouge{
        margin: 0;
        position: relative;
        background-color: white;
    
    
            #topleft{
                display: none;
            }
            #topright{
                display: none;

            }
            #botleft{
                display: none;

            }
            #botright{
                display: none;

            }
            #ourstory{
                text-align: center;
                h1{
                    font-family: 'Courgette', cursive;
                        .rouge{
                        color: red;
                        font-size: 75%;
                        }
                   }
                   img{
                       display: none;
                   }
                   p{  
                    display: none;
                   }    
            }
            #ourmenu{
                text-align: center;
                h1{
                 font-family: 'Courgette', cursive;
                     .rouge{
                     color: red;
                     font-size: 75%;
                     }
                }
                img{ 
                    display: none;
                }
            }

            #cafe-baba{
                #click{
                    #v-pills-tab{
                        a{
                            i{
                                height: 10px;
                                width: 10px;
                            }
                        }
                    }
                }
                #v-pills-tabContent{
                    #v-pills-home{
                        .rowland{
                            .colle{
                                
                                .div1{
                                    border-bottom: 1px #CECFD1 dotted;
                                   
                                    
                                    img{
                                        height: 50px;
                                        width: 50px;
                                        border: solid 2px lightblue;
                
                                    }
                                    div{
                                        h6,p{
                                            font-size: 30%;
                                        }
                                    }
                                    .dollar{
                                        width: 5%;
                                        background-color: #CECFD1;
                                        text-align: center;
                                        color: red;
                                    }
    
                                }
                            }
                        }
                    }
    
    
    
    
                    #v-pills-profile{
                        .rowland{
                            .colle{
                                
                                .div1{
                                    border-bottom: 1px #CECFD1 dotted;
                                    
                                    img{
                                        border-radius: 50%;
                                        border: solid 4px lightblue;
                                    }
                                    .dollar{
                                        width: 15%;
                                        background-color: #CECFD1;
                                        text-align: center;
                                        color: red;
                                    }
    
                                }
                            }
                        }
                    }
    
    
    
    
                    #v-pills-messages{
                        .rowland{
                            .colle{
                                
                                .div1{
                                    border-bottom: 1px #CECFD1 dotted;
                                    
                                    img{
                                        border-radius: 50%;
                                        border: solid 4px lightblue;
                                    }
                                    .dollar{
                                        width: 15%;
                                        background-color: #CECFD1;
                                        text-align: center;
                                        color: red;
                                    }
    
                                }
                            }
                        }
                    }
    
    
    
    
                    #v-pills-settings{
                        .rowland{
                            .colle{
                                
                                .div1{
                                    border-bottom: 1px #CECFD1 dotted;
                                    
                                    img{
                                        border-radius: 50%;
                                        border: solid 4px lightblue;
                                    }
                                    .dollar{
                                        width: 15%;
                                        background-color: #CECFD1;
                                        text-align: center;
                                        color: red;
                                    }
    
                                }
                            }
                        }
                    }
    
                }
    
    
    
    
    
                }
    
    }

    }

    @media (min-width:641px) and (max-width:900px){
        #page-rouge{
        margin: 0;
        position: relative;
        background-color: white;
    
    
            #topleft{
                display: none;
            }
            #topright{
                display: none;

            }
            #botleft{
                display: none;

            }
            #botright{
                display: none;

            }
            #ourstory{
                text-align: center;
                h1{
                    font-family: 'Courgette', cursive;
                        .rouge{
                        color: red;
                        font-size: 75%;
                        }
                   }
                   img{
                       display: none;
                   }
                   p{  
                    display: none;
                   }    
            }
            #ourmenu{
                text-align: center;
                h1{
                 font-family: 'Courgette', cursive;
                     .rouge{
                     color: red;
                     font-size: 75%;
                     }
                }
                img{ 
                    display: none;
                }
            }

            #cafe-baba{
                #click{
                    #v-pills-tab{
                        a{
                            i{
                                height: 10px;
                                width: 10px;
                            }
                        }
                    }
                }
                #v-pills-tabContent{
                    #v-pills-home{
                        .rowland{
                            .colle{
                                
                                .div1{
                                    border-bottom: 1px #CECFD1 dotted;
                                   
                                    
                                    img{
                                        height: 50px;
                                        width: 50px;
                                        border: solid 2px lightblue;
                
                                    }
                                    div{
                                        h6,p{
                                            font-size: 30%;
                                        }
                                    }
                                    .dollar{
                                        width: 5%;
                                        background-color: #CECFD1;
                                        text-align: center;
                                        color: red;
                                    }
    
                                }
                            }
                        }
                    }
    
    
    
    
                    #v-pills-profile{
                        .rowland{
                            .colle{
                                
                                .div1{
                                    border-bottom: 1px #CECFD1 dotted;
                                    
                                    img{
                                        border-radius: 50%;
                                        border: solid 4px lightblue;
                                    }
                                    .dollar{
                                        width: 15%;
                                        background-color: #CECFD1;
                                        text-align: center;
                                        color: red;
                                    }
    
                                }
                            }
                        }
                    }
    
    
    
    
                    #v-pills-messages{
                        .rowland{
                            .colle{
                                
                                .div1{
                                    border-bottom: 1px #CECFD1 dotted;
                                    
                                    img{
                                        border-radius: 50%;
                                        border: solid 4px lightblue;
                                    }
                                    .dollar{
                                        width: 15%;
                                        background-color: #CECFD1;
                                        text-align: center;
                                        color: red;
                                    }
    
                                }
                            }
                        }
                    }
    
    
    
    
                    #v-pills-settings{
                        .rowland{
                            .colle{
                                
                                .div1{
                                    border-bottom: 1px #CECFD1 dotted;
                                    
                                    img{
                                        border-radius: 50%;
                                        border: solid 4px lightblue;
                                    }
                                    .dollar{
                                        width: 15%;
                                        background-color: #CECFD1;
                                        text-align: center;
                                        color: red;
                                    }
    
                                }
                            }
                        }
                    }
    
                }
    
    
    
    
    
                }
    
    }

    }

    








    
    
    
    
 