





#section-1{
   
    background-size: auto;
    height: 950px;
    #page1{
        background-color:red;
        height: 900px;
        position: relative;
        img{
            position: absolute;


        }
    }
}