#section-chef{
    background-color: black;
    #meetourchef{
        text-align: center;
        h1{
            font-family: 'Courgette', cursive;
             .rouge{
             color: red;
             font-size: 125%;
             }
        }
    }

    #chef{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        div{
            img{
                border-bottom: solid 1px grey;
            img::before{
                    content: "";
                    position:absolute;
                    height: 0;
                    bottom: 0;
                    width: 100%;
                    transition: 1s;
                    background-color: lightcoral;
                    z-index: -1;
                }
            img:hover::before{
                    height: 50%;
                }
            }
            p{
                color: white;
            }
            p::after{
                background-color: red;
                width: 20px;
                height: 20px;
                margin-bottom: 20px;

            }
        }
    }

    }


    
/*responsive pour 320px à 640px*/
@media (min-width:320px) and (max-width:640px){

    #section-chef{
        #meetourchef{
            h1{
                font-family: 'Courgette', cursive;
                 .rouge{
                 color: red;
                 font-size: 75%;
                 }
            }
        }
    
        #chef{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            div{
                img{
                    border-bottom: solid 1px grey;
                    height: 80px;

                }
            }
        }
    
        }

}

/*responsive pour 641px à 900px*/
@media (min-width:641px) and (max-width:900px){

}
  